/* Mobile screen */
@media (max-width: 992px) {
  .only-desktop {
    display: none !important;
  }
}

/* Desktop screen */
@media (min-width: 993px) {

}

/* Custom Styles */
.vh-10 {
  height: 10vh !important;
}

.vh-5 {
  height: 5vh !important;
}

.vh-4 {
  height: 4vh !important;
}

.vh-3 {
  height: 3vh !important;
}

.vh-2 {
  height: 2vh !important;
}

.header {
  z-index: 10;
}

.absolute-bottom {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.vertically-middle {
  top: 50%;
  transform: translate(0%, -50%) !important;
}

.countdown-container {
  background-color: rgba(255, 235, 205, 0.5);
  border-radius: 80%;
}

.time-wrapper {
  font-family: sans-serif;
}

.time {
  font-size: 32px;
}
